.out {
  text-align: center;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;

}

.float-left {
  float: left;
  width: 15vw;
  height: 100vh;
  background: aquamarine;
}

.float-right {
  float: left;
  width: 85vw;
  height: 100vh;
  background: #f0f2f5;
}

out-right {

  text-align: center;

  position: relative;
}

.right {

  padding: 30px;
  text-align: center;
}

.relative-wrap {
  position: relative;
  height:260px;
}

.header-wrapper {
  padding: 12px 0;
}

.distance {
  margin: 10px;
}

img {
  margin-left: 8px;
  width: 40px;
  height: 40px;
}

.show {
  background: bisque;
}
