<div class="clearfix">

  <div class="float-left">
    <div class="out clearfix">
      <div class="relative-wrap">
        <div class="header-wrapper">
          <img src="./assets/img/default-avatar.png">
          <span class="distance">{{ username }}</span>

          <i class="anticon anticon-setting distance"></i>
          <i class="anticon anticon-calendar distance"></i>

          <p *ngFor="let planName of planNames"
             [class.show]="planName==selected"
             (click)="toggle(planName)"
             style="margin-top: 20px;cursor: pointer">{{planName}}</p>
        </div>

      </div>

      <div class="add-list-btn-wrapper" style="margin-top: 200px">
        <button nz-button
                nzGhost
                nzType="dashed"
                (click)="openAddListModal()">
          <i class="anticon anticon-plus"></i>
          <span>添加一个计划列表</span>
        </button>
      </div>
    </div>
  </div>

  <div class="float-right">
    <div class="clearfix">
      <div class="out-right">
        <div class="right" style="font-size: 20px;font-weight:bold">
          待做事项
        </div>
      </div>

      <div style="text-align: center">
        <input nz-input
               #planInput
               required
               placeholder="输入事项后按回车添加"
               (keydown.enter)="commit(planInput.value)"
               style="width:40%;"
        >
      </div>

      <div style="text-align: center;margin-top: 50px">
        <app-items [items]="items" (doneItem)="done($event)" [doneId]="doneId"></app-items>
      </div>

    </div>
  </div>

</div>



<nz-modal [(nzVisible)]="isVisible " nzTitle="添加新列表" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(listRenameInput.value)">
  <p>输入你的计划名</p>
  <input nz-input
         #listRenameInput
         placeholder="列表名称"
         (keydown.enter)="handleOk(listRenameInput.value)"
  >
</nz-modal>
